#api-details
  %h2.ui.header.resourec__name 
    = api.resource.name
    - if Rails.env.development?
      = link_to "Reload This Api", onebox_api_doc.api_path(version: api.version.name, tag: params[:tag], resource_name: api.resource.name, method: api.method, url: api.friendly_id, reload_document: true), class: 'ui label link-api-list'
        

  .ui.divider

  %h1.ui.header.api__url
    %span.action.get{ "class" => "#{api.method.downcase}"}
      = api.method
    %span.url#url-path
      = api.url
    %a.ui.copy--btn.label{"data-clipboard-target" => "url-path"} Copy
    .sub.header
      = api.short_desc

  -# permission section
  .api__permission
    Permission : 
    - api.permissions.each do |permission|
      %a.ui.label.name
        = permission.name

  -# long description section
  %br
  - if api.desc.present?
    %p.description
      = api.desc.html_safe

  -# note section
  -# .ui.api__note.list
  -#   .item 
  -#     .header Note. 
  -#     .description
  -#       .list
  -#         - (1..3).each do |i|
  -#           .item 
  -#             %i.note--warning.circle.info.icon.link{ data: {content: "extension_name:version", variation: 'inverted', position: 'left center'} } 
  -#             .content
  -#               note of extension #{i} Lorem ipsum dolor sit amet, consectetur

  .ui.top.attached.tabular.menu
    %a.item{"data-tab" => "request"} Request
    %a.item.active{"data-tab" => "response"} Response
    %a.item{"data-tab" => "error"} Error

  = render partial: 'onebox_api_doc/application/params_containner', locals: { params_containner: api.request, type: 'request', active: '' }
  = render partial: 'onebox_api_doc/application/params_containner', locals: { params_containner: api.response, type: 'response', active: 'active' }

  .ui.bottom.attached.tab.segment{"data-tab" => "error"}
    = render partial: 'onebox_api_doc/application/errors', locals: { codes: api.errors }

  %script
    $('.params .param__from, .api__note .note--warning').popup();$('.menu .item').tab();


