.ui.fluid.vertical.accordion.menu
  - (1..2).each do |i|
    .item
      .title
        .item.api__resource
          Resource #{i}
          %i.dropdown.icon
      .content 
        .ui.fluid.vertical.menu
          = link_to '/', class: 'item' do
            .api__url
              %span.action.get GET
              %span.url /my/url/:id
            .api__desc short desc
          = link_to '/', class: 'item' do
            .api__url
              %span.action.post POST
              %span.url /my/url/:id
            .api__desc short desc
          = link_to '/', class: 'item' do
            .api__url
              %span.action.put PUT
              %span.url /my/url/:id
            .api__desc short desc
          = link_to '/', class: 'item' do
            .api__url
              %span.action.patch PATCH
              %span.url /my/url/:id
            .api__desc short desc
          = link_to '/', class: 'item' do
            .api__url
              %span.action.delete DELETE
              %span.url /my/url/:id
            .api__desc short desc
