.ui.fluid.vertical.accordion.menu
  - @resources.each do |resource_name, apis|
    .item
      .title
        .item.api__resource
          = resource_name.capitalize
          %i.dropdown.icon
      .content 
        .ui.fluid.vertical.menu
          - apis.each do |api|
            = link_to onebox_api_doc.action_path(version: @doc.version.name, tag: @current_tag.name, resource_name: resource_name, action_name: api.action), class: 'item link-api-list', remote: false do
              .api__url
                %span.action{ class: "#{api.method.downcase}" }
                  = api.method
                %span.url 
                  = api.url
              .api__desc 
                = api.short_desc

