.ui.fluid.vertical.accordion.menu
  - @resources.each do |resource_name, apis|
    .item
      .title
        .item.api__resource
          = resource_name.capitalize
          %i.dropdown.icon
      .content 
        .ui.fluid.vertical.menu
          - apis.each do |api|
            = link_to onebox_api_doc.action_path(version: @core_version.version, resource_name: resource_name, action_name: api._action), class: 'item', remote: true do
              .api__url
                %span.action{ class: "#{api._method.downcase}" }
                  = api._method
                %span.url 
                  = api._url
              .api__desc 
                = api._short_desc

